@charset "UTF-8";

/* BODY */
html {
	height : 100%;
}
body {
  width : 100%;
  min-height : 100%;
/*   height : 100%; */
  margin : 0px;
  font-family: 'Do Hyeon', sans-serif;
  color: #434343;
  background: #DAE3E7;
  font-size: 16px;
  display : inline-flex;
}

/* H TAGS */
h1,
h2,
h3,
h4,
h5,
h6 {

	font-weight : 700;
	color : #4951A;
}

h2 {
	font-size : 40px;
}

.name {
	margin-top : 5px;
	margin-left : 10px;
	font-size: 40px;
	margin-bottom: 2px;
}

.field {
	margin-left : 10px;
	margin-top : 3px;
	font-size: 25px;
}

.subHead {
	margin-top : 0;
	margin-bottom: 15px;
	font-size : 30px;
}

/* UL TAGS */

ul {
	display : block;
}
li {
	display : inline-block;
}

.list-none {
	padding-left : 5px;
	list-style : none;
	margin-bottom: 10px;
}

/* P TAGS */
p {
	text-align : center;
	margin-top: 5px;
}

.words {
	text-align : left;
	display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}


/* HEADER */
.header {	
	position : fixed;
	width : 100%;
	border-top: 20px solid #000000;
}

/* ASIDE */
.aside {
	position : fixed;
	width : 270px;
	height : 100%;
	border-left: 15px solid #000000;
	background-color: #F5F5F5;

	padding: 30px;
	margin-top : 20px;
}
/* .contents-wrapper { */
/* 	display : flex; */
	
/* 	margin-top : 20px; */
/* 	margin-left : 345px; */
/* 	padding : 40px; */
/* 	width : 100%; */
/* 	height : 100%; */
	
/* } */


/* ASIDE -> leftSideMenu */
.leftSideMenu {
	width : 100%;
	height : 100%;
}

.leftSideMenu img {
	margin-left : 33px;
	height : 200px;
	width : 200px;
	box-shadow : 1px 2px 5px;
	border-radius: 100px 100px 100px 100px;
}

.active-place {
	width : 100%;
	height : 100%;
	padding-left : 5px;
}

.aside .NameAndField .active-place a {
	width : 50px;
	height : 50px;
	background-color: #000000;
	color : white;
	display : inline-block;
	border-radius: 50%;
	
}
.aside .NameAndField .active-place li {
	display : inline-block;
	padding-left : 2px;
	padding-right : 2px;	
}

.aside .NameAndField .active-place a i {
	padding-left : 11px;
	padding-top: 10px;
}


#oracle {
	background-image: url("oracle.jpg");
}



/* CONTENTS WRAPPER */
.contents-wrapper {
	display : flex;
	
	margin-top : 20px;
	margin-left : 345px;
	padding : 40px;
	width : 100%;
	height : 100%;
	
}

.contents {
	width : 100%;
	height : 100%;
	display: flex;
}

.first-line {
	
	flex : 7;
	height : 100%;
	padding-left: 10px;
	padding-right: 10px;
}

.second-line{
	flex : 3;
	padding-left: 10px;
	padding-right: 10px;
}

.sectionPadding {
	height : 100%;
	padding : 30px;
	margin-bottom : 40px;
	background-color: #FFFFFF;
	border-radius: 4.4%;
}

.buketHead {
	font-weight : bold;
	margin-bottom: 5px;
	font-weight: bold;
}
.bucket {
	margin-bottom: 15px;
	
}



	/* SECTIONS */

/* aboutMyProfile */
.aboutMyProfile {
	width : 100%;	
	height : 100%;	
}

.aboutMyProfile .sectionPadding .innerContents .bucket .list-none li {
	padding-left: 10px;
	padding-right: 10px;
}

.aboutMyProfile .sectionPadding .innerContents .bucket .list-none li .skillIMG i{
	font-size : 50px;
}

.aboutMyProfile .sectionPadding .innerContents .bucket {
	margin-bottom: 3px;
}

/* PROJECTS */

.projects {
	width : 100%;	
	height : 100%;	
}
.projectIMGS {
}

.projectIMG {
	max-width : 100%;
	height : auto;
}


/* LEVELS */
.levels {
	min-width : 250px;
	max-width : 100%;
	height : 300px;
}

.skillIMG {
	width : 50px;
	height : 50px;
	text-align : center; 
	
	box-shadow : 1px 1px 3px;
	border-radius: 3px 3px 3px 3px;
}

.levelsHead {
	color: #7A7A7A;
}

.barGraph{
	background : #D4F4FA;
	height : 25px;
}

.fillPercent {
	background : #0000B7;
	height : 25px;
}




@media (max-width: 767px) {
	
}

@media (max-width: 1000px) {

/* /* 	The table status sends the side menu to the header. */ */
/* 	.aside { */
/* 		flex-direction : column; */
/* 		width : 100%; */
/* 		height : 300px; */
/* 		border-left: 15px solid #000000; */
/* 		background-color: #F5F5F5; */
	
/* 		padding: 30px; */
/* 		margin-top : 20px; */
/* 	} */
/* 	.contents-wrapper { */
/* 		flex-direction: column; */
/* 		width : 100%; */
/* 		height : 100%; */
	
/* 	} */
	
}
