@charset "UTF-8";

/* BODY */
html {
	height : 100%;
}
body {
  width : 100%;
  min-height : 100%;
/*   height : 100%; */
  margin : 0px;
  font-family: 'Do Hyeon', sans-serif;
  color: #434343;
  background: #DAE3E7;
  font-size: 16px;
  display : inline-flex;
}


/* a TAG */
a:link {text-decoration: none; }
a:visited {text-decoration: none;}
a:active {text-decoration: none; }


/* H TAGS */
h1,
h2,
h3,
h4,
h5,
h6 {

	font-weight : 700;
	color : #000000;
}

h2 {
	font-size : 40px;
}

.textCenter {
	text-align: center;
}

.name {
	margin-top : 5px;
	margin-left : 10px;
	font-size: 40px;
	margin-bottom: 2px;
}

.field {
	margin-left : 10px;
	margin-top : 3px;
	font-size: 25px;
}

.subHead {
	margin-top : 0;
	margin-bottom: 15px;
	font-size : 30px;
}

/* UL TAGS */

ul {
	display : block;
}
li {
	display : inline-block;
}

.list-none {
	padding-left : 5px;
	list-style : none;
	margin-bottom: 10px;
}

/* P TAGS */
p {
	text-align : center;
	margin-top: 5px;
}

.words {
	text-align : left;
	display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

/* SPAN */
.underBar{
	border-bottom: 3px solid #14899D;
}

/* HEADER */
.header {	
	position : fixed;
	width : 100%;
	border-top: 20px solid #000000;
}

/* ASIDE */
.aside {
	position : fixed;
	width : 270px;
	height : 100%;
	border-left: 15px solid #000000;
	background-color: #F5F5F5;

	padding: 30px;
	margin-top : 20px;
}
/* .contents-wrapper { */
/* 	display : flex; */
	
/* 	margin-top : 20px; */
/* 	margin-left : 345px; */
/* 	padding : 40px; */
/* 	width : 100%; */
/* 	height : 100%; */
	
/* } */


/* ASIDE -> leftSideMenu */
.leftSideMenu {
	width : 100%;
	height : 100%;
}

.leftSideMenu img {
	margin-left : 33px;
	height : 200px;
	width : 200px;
	box-shadow : 1px 2px 5px;
	border-radius: 100px 100px 100px 100px;
}

.active-place {
	width : 100%;
	height : 100%;
	padding-left : 5px;
}

.aside .NameAndField .active-place a {
	width : 50px;
	height : 50px;
	background-color: #000000;
	color : white;
	display : inline-block;
	border-radius: 50%;
	
}
.aside .NameAndField .active-place li {
	display : inline-block;
	padding-left : 2px;
	padding-right : 2px;	
}

.aside .NameAndField .active-place a i {
	padding-left : 11px;
	padding-top: 10px;
}


#oracle {
	background-image: url("oracle.jpg");
}



/* CONTENTS WRAPPER */
.contents-wrapper {
	display : flex;
	
	margin-top : 20px;
	margin-left : 345px;
	padding : 40px;
	width : 100%;
	height : 100%;
	
}

.contents {
	width : 100%;
	height : 100%;
	display: flex;
}

.first-line {
	
	flex : 7;
	height : 100%;
	padding-left: 10px;
	padding-right: 10px;
}

.second-line{
	flex : 3;
	height : 100%;
	padding-left: 10px;
	padding-right: 10px;
}

.sectionPadding {
	height : 100%;
	padding : 30px;
	margin-bottom : 40px;
	background-color: #FFFFFF;
	border-radius: 2em;
}

.buketHead {
	font-weight : bold;
	margin-bottom: 5px;
	font-weight: bold;
}
.bucket {
	margin-bottom: 15px;
	
}



	/* SECTIONS */

/* aboutMyProfile */
.aboutMyProfile {
	width : 100%;	
	height : 100%;	
}

.aboutMyProfile .sectionPadding .innerContents .bucket .list-none li {
	padding-left: 10px;
	padding-right: 10px;
}

.aboutMyProfile .sectionPadding .innerContents .bucket .list-none li .skillIMG i{
	font-size : 50px;
}

.aboutMyProfile .sectionPadding .innerContents .bucket {
	margin-bottom: 3px;
}

/* PROJECTS */

.projects {
	width : 100%;	
	height : 100%;	
}
.projectIMGS {
}

.projectIMG {
	max-width : 100%;
	height : auto;
	box-shadow : 1px 1px 3px;
}

.projects .sectionPadding .innerContents .bucket .bucketHead {
	color : #815B7C;
	font-size: 22px;
}


/* LEVELS */

.levels .sectionPadding {
	padding : 30px 30px 0px 30px;
}

.levels {
	min-width : 250px;
	max-width : 100%;
	height : 100%;
}

.skillIMG {
	width : 50px;
	height : 50px;
	text-align : center; 
	
	box-shadow : 1px 1px 3px;
	border-radius: 3px 3px 3px 3px;
}

.levelStar {
	font-size: 14px;
	margin-bottom: 45px;
}

.fa-star {
	color: #FFFF7E;
    box-shadow: 1px 1px 6px;
}

.fa-star-half {
	color: #FFFF7E;
    box-shadow: 1px 1px 6px;	
}

.levelsHead {
	position: relative;
	color: #7A7A7A;
	margin-bottom: 15px;
}

.skillStars {
	position: absolute;
    right: 0;
    top: 0;
}

.barGraph{
	background : #D4F4FA;
	height : 25px;
}

.detailBarBucket {
	display : none;
}


@keyframes java {
	0% { width : 0;}
	100% {width : 75%;}
}

.java {
	background : #D9752C; 
	width: 75%;
	-webkit-animation: java 2s ease;
	height : 25px;
}



@keyframes javascript {
	0% { width : 0;}
	100% {width : 60%;}
}

.javascript {
	background : #DFCB48; 
	width: 60%;
	-webkit-animation: javascript 2s ease;
	height : 25px;
}

@keyframes python {
	0% { width : 0;}
	100% {width : 45%;}
}

.python {
	background : #0000B7;
	width: 45%;
	-webkit-animation: python 2s ease;
	height : 25px;
}


@keyframes sql {
	0% { width : 0;}
	100% {width : 45%;}
}




/* 
 Now this Value is
 [HIDE Value]
 If you Click MoreTrigger U can show this Value */
 
@keyframes c {
	0% { width : 0;}
	100% {width : 45%;}
}

.c {
	background : #D9752C; 
	width: 45%;
	-webkit-animation: java 2s ease;
	height : 25px;
}

.sql {
	background : #0000B7;
	width: 45%;
	-webkit-animation: python 2s ease;
	height : 25px;
}









.moreTrigger {
	margin-top : 20px;
	cursor: pointer;
	border-radius : 1em;
	text-align : center;
	width : 100%;
}






/* HISTORY */
.History{
	min-width : 250px;
	max-width : 100%;
	height : 100%;
}

.History .sectionPadding .bucket{
	display : flex;
}

.lifeLine {
	height : 100%;
	flex : 1;
}
.historyLine {
	height : 100%;
	width : 5px;
	height : 600px;
	background: #5AAEFF;
	margin-left: 10px;
}

.circleArea{
	width : 10px;
	height : 10px;
    padding-bottom: 180px;
    margin-left: -3.1px
}
.historyCircle {
	width : 100%;
	height : 100%;
	border-radius: 50%;	
	background: #ABABAB;
	border : 1px solid #757575;
	 
}
.box {
	flex : 7;
	width : 100%;
	height : 100%;
	color : #FFFFFF;
	margin-bottom: 30px;
}

.headBox {
	width : 100%;
	height : 100%;
	margin-bottom : 10px;
	border-radius: 3px 3px 3px 3px;
	background: #0D3FA5;
	padding : 3px;
}

.contentBox {
	width : 100%;
	height : 100%;
	margin-bottom : 10px; 
	border-radius: 3px 3px 3px 3px;
	background: #0D3FA5;
	padding : 7px;
}


a#toTop {
	display: none;
	position: fixed; 
	right: 0.5%; 
	width : 55px;
	bottom: 30px; 
	z-index: 9999; 
	border-radius : 1em;
	cursor: pointer;
	padding: 5px 7px 4px;
	text-align : center;
	

}




a#toTop #percentScroll {
	text-align : right;
	width : 32px;
	float : right;
}




/* ANIMATION */
.colorChangeAnimation {
	color:#FFFFFF;
	background-image: linear-gradient(to left,
    transparent,
    transparent 50%,
    #FFFFFF 50%,
    #FFFFFF);
	background-color : #000000;
	background-position: 100% 0;
    background-size: 200% 100%;
    transition: all .25s ease-in;
}

.colorChangeAnimation:hover {
  background-position: 0 0;
  color : black;
}





@media (max-width: 767px) {
	
}

@media (max-width: 1000px) {

}
/* /* 	The table status sends the side menu to the header. */ 
/* 	.aside { */
/* 		flex-direction : column; */
/* 		width : 100%; */
/* 		height : 300px; */
/* 		border-left: 15px solid #000000; */
/* 		background-color: #F5F5F5; */
	
/* 		padding: 30px; */
/* 		margin-top : 20px; */
/* 	} */
/* 	.contents-wrapper { */
/* 		flex-direction: column; */
/* 		width : 100%; */
/* 		height : 100%; */
	
/* 	} */